<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Technique</title>

    <!-- Icone FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Custom css -->
    <link rel="stylesheet" href="css/pomodoro-technique.css">

    <!-- Icona -->
    <link rel="icon" href="img/tomato-timer-icon.jpg">

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <main class="bg-primary vh-100 d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="tomato-timer pb-3">
                    <img src="img/tomato-timer.png" alt="Tomato timer">
                </div>
                <h1 class="fs-1 text-white text-center fw-bold m-0 pb-3">
                    Pomodoro Technique
                </h1>
                <!-- Sezione - Form impostazione tempo -->
                <div class="w-75 m-auto border rounded-3 p-3 mt-3 text-center" v-show="(timerStart === false)">
                    <h2 class="text-white pb-3">Insert time:</h2>
                    <div class="row">
                        <div class="col-lg-4 col-12 pb-3">
                            <label for="time-work-1" class="form-label text-white fw-bold pe-2 pe-lg-5 ps-lg-5">Work
                                time</label>
                            <input type="number" class="form-control-sm rounded-2" id="time-pause-1" v-model="workTime">
                            <p class="m-0 p-0 pt-lg-2 text-white my-fs-7 fst-italic">(Typically 25 minutes)</p>
                        </div>
                        <div class="col-lg-4 col-12 pb-3">
                            <label for="time-pause-1" class="form-label text-white fw-bold pe-2">Short pause
                                time</label>
                            <input type="number" class="form-control-sm rounded-2" id="time-pause-1"
                                v-model="shortPauseTime">
                            <p class="m-0 p-0 pt-lg-2 text-white my-fs-7 fst-italic">(Typically 5 minutes)</p>
                        </div>
                        <div class="col-lg-4 col-12">
                            <label for="time-pause-1" class="form-label text-white fw-bold pe-2">Long pause time</label>
                            <input type="number" class="form-control-sm rounded-2" id="time-pause-1"
                                v-model="longPauseTime">
                            <p class="m-0 p-0 pt-lg-2 text-white my-fs-7 fst-italic">(Typically 15 minutes)</p>
                        </div>
                    </div>
                    <div class="m-auto text-center pt-3">
                        <button type="button" class="btn btn-primary" @click="startTomato(timerStart)">Start
                            tomato</button>
                    </div>
                    <div class="alert alert-danger mt-2 fs-4 fw-bold text-uppercase pb-2" role="alert" v-show="error === true">
                        Inserisci dei valori corretti
                    </div>
                </div>
                <!-- Sezione impostazioni -->
                <div class="w-75 m-auto border rounded-3 p-3 mt-3 text-center text-white"
                    v-show="(timerStart === true)">
                    <p class="m-0 p-0 pb-2">Work time = <span class="fw-bold">{{ workTime }}</span> minutes</p>
                    <p class="m-0 p-0 pb-2">Short pause time = <span class="fw-bold">{{ shortPauseTime }}</span> minutes
                    </p>
                    <p class="m-0 p-0">Long pause time = <span class="fw-bold">{{ longPauseTime }}</span> minutes</p>
                </div>
                <!-- Sezione - Timer -->
                <div class="w-75 m-auto border rounded-3 p-3 mt-3 text-center" v-show="(timerStart === true)">
                    <h3 class="text-white pb-3">Work time/Short pause time/Long pause time</h3>
                    <!-- Timer -->
                    <div class="text-white fw-bold fs-5">
                        {{ countDown }}
                    </div>
                    <!-- Pulsanti timer -->
                    <div class="d-flex justify-content-center pt-3 pb-3">
                        <button type="button" @click="btnActive('startActive')"
                            v-bind:class="(isBtnActive.startActive === true ? 'btn btn-primary me-2 active' : 'btn btn-primary me-2')">
                            Start
                        </button>
                        <button type="button" @click="btnActive('pauseActive')"
                            v-bind:class="(isBtnActive.pauseActive === true ? 'btn btn-primary me-2 active' : 'btn btn-primary me-2')">
                            Pause
                        </button>
                        <button type="button" @click="btnActive('stopActive')"
                            v-bind:class="(isBtnActive.stopActive === true ? 'btn btn-primary active' : 'btn btn-primary')">
                            Stop
                        </button>
                    </div>
                    <!-- Pulsante timer successivo -->
                    <div>
                        <button type="button" @click="btnActive('nextTimer')" v-show="timeEnd === true"
                            v-bind:class="(isBtnActive.nextTimer === true ? 'btn btn-primary me-2 active' : 'btn btn-primary me-2')">
                            Next timer
                        </button>
                    </div>
                    <!-- Avanzamento -->
                    <div class="text-white">
                        AVANZAMENTO - ogni 4 pomodori (time work) pausa lunga
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Custom Js -->
    <script src="js/pomodoro-technique.js"></script>
</body>

</html>