:root {
    --bs-primary: #600000;
    --bs-primary-rgb: 96, 0, 0;
}

.btn-primary {
    --bs-btn-bg: #e39533;
    --bs-btn-border-color: #e39533;
    --bs-btn-hover-bg: #c27e2b;
    --bs-btn-hover-border-color: #c27e2b;
    --bs-btn-active-bg: #c27e2b;
    --bs-btn-active-border-color: #c27e2b;
    color: black;
    font-weight: bold;
    box-shadow: 0px 4px 0px 0px #c27e2b;
    transition: transform .3s;
}

.btn-primary:hover {
    transform: translateY(1px);
    box-shadow: 0px 2px 0px 0px #c27e2b;
    color: black;
}

.btn-primary.active {
    transform: translateY(2px);
    box-shadow: none;
}

.tomato-timer>img {
    width: 100%;
}

.tomato-timer {
    width: 100px;
    margin: auto;
}

.tomato-timer-small {
    width: 40px;
    position: relative;
}

.tomato-check {
    transform: scale(.8);
    filter: invert(1) saturate(0);
}

.form-control-sm:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #e39533;
    outline: 0;
    box-shadow: 0 0 0 .15rem rgba(194, 126, 43, .25);
}

.my-fs-7 {
    font-size: .8rem;
}

.alert {
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
}

.alert-danger {
    --bs-alert-color: #e39533;
}

.my-bg-box {
    background-color: rgba(120, 0, 0, 0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}